singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 1
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 2
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 3
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 4
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 5
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 6
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 7
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 8
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 9
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 10
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 11
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 12
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 13
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 14
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 15
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 16
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 17
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 18
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 19
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 20
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 21
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 22
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 23
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 24
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 25
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 26
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 27
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 28
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 29
singularity exec -B /compute/Genomics/ /compute/Genomics/containers/burden_temp make-group-file -g exon -e promoter,enhancer,TF_bind -l promoter,enhancer,TF_bind -s EigenPhred -w /compute/Genomics/projects/helic/OLINK/burden_tests/testrun -i /compute/Genomics/projects/helic/OLINK/burden_tests/Pomak.chr11.variantlist.formatted.txt.gz -L /compute/Genomics/projects/helic/OLINK/burden_tests/genes.chr11.txt -C /compute/Genomics/projects/helic/OLINK/burden_tests/prepared_data2/config.txt -d 30 -c 30
